@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-padding-top: 72px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image:hover > .overlay {
  display: flex;
}

.active {
  color: red;
}

@media (max-width: 768px) {
  .active {
    color: red;
  }
}

@media only screen and (max-width: 768px) {
  .text-window {
    display: none !important;
  }
  .text-mobile {
    display: block !important;
  }
}

.text-mobile {
  display: none;
  z-index: 100;
  text-align: center;
}

.animate-charcter {
  text-align: center;
  font-weight: 600;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
